.featured_projects {
  padding: 7rem 0;
  background-color: var(--color-primary);
  transform-origin: 50% 0;
  transform: scaleY(1.04);

  &__link_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
