@import '../../../styles/mixins';

.hero {
  padding: 10rem 0 10rem 0;
  overflow: hidden;
  border-bottom: 2px solid rgba($color: #000, $alpha: 0.2);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_left {
      width: 58%;
      margin-right: 2rem;

      @include respond(tab-port) {
        width: 100%;
      }
    }

    &_right {
      height: 40rem;
      width: 40%;
      z-index: -10;
      // background-color: var(--color-primary);
      background-image: radial-gradient(
        var(--color-primary-light) 0%,
        var(--color-primary, 80%)
      );
      display: flex;
      justify-content: center;
      border-radius: 5px;
      overflow: hidden;
      position: relative;

      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__paragraph {
    width: 90%;
  }

  &__image_container {
    height: 90%;
    width: 100%;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
  }

  &__image {
    display: inline-block;
    height: 100%;
  }
}
