@import '../../../styles/mixins';
@import '../../../styles/sass-variables';

.footer {
  padding: 10rem 0;
  color: var(--color-grey-dark);
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgba($color: $color_primary, $alpha: 0.1);

  &__content {
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__right {
    @include respond(phone) {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
