.footer {
  padding: 7rem 0;
  color: var(--color-grey-dark);
  border-top: 2px solid rgba(34, 34, 34, 0.2);

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    list-style: none;
    transform: translateX(-9px);
  }

  &__icon_list_item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__icon_link {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    padding: 2rem;

    position: relative;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-primary);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
