@import '../../styles/sass-variables';
@import '../../styles/mixins';

.contact {
  padding: 7rem 0;

  &__left {
    margin-right: 4rem;
    flex-grow: 1;

    @include respond(tab-port) {
      width: 70%;
      margin-right: 0;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &__right {
    width: 45%;
    &_info {
      display: flex;
      align-items: flex-start;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    &_paragraph {
      @include respond(phone) {
        transform: translateX(-4rem);
      }
    }

    @include respond(tab-port) {
      width: 70%;
      margin-top: 5rem;
    }

    @include respond(phone) {
      width: 100%;
      margin-top: 5rem;
    }

    &_heading {
      margin-right: 1rem;
    }
  }
}

.contact__content {
  display: flex;
  justify-content: space-between;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.form {
  width: 100%;

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    font: inherit;
    font-size: var(--default-font-size);
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    border: 4px solid rgba($color_primary, 0.2);
    transition: all 0.2s ease-out;

    &_name {
      height: 5rem;
    }

    &_email {
      height: 5rem;
    }

    &_message {
      height: 15rem;
    }

    &:focus {
      border: 4px solid rgba($color_primary, 0.7);
    }
  }

  &__button {
    display: flex;
    transition: all 0.2s ease-out;
    margin-bottom: 2rem;
    justify-content: center;

    &_text {
      display: inline-block;
      margin-right: 1rem;
    }
  }
}
