.card {
  border-radius: 5px;

  &__heading_container {
    padding: 1rem 3rem 1rem 3rem;
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }

  &__dark {
    background-color: var(--color-primary-light);
    color: var(--color-background);
    border: 5px solid var(--color-primary-dark);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-background);
      box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.4);
    }
  }

  &__light {
    background-color: var(--color-background);
    color: var(--color-grey-dark);
    border: 5px solid var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-background);
      box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.4);
    }
  }
}
