.training_card {
  border-radius: 5px;
  padding: 3rem;

  &__light {
    background-color: var(--color-background-2);
    color: var(--color-primary);
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.15);

    border: 5px solid var(--color-primary-light);
  }

  &__dark {
    background-color: var(--color-primary-light);
    color: var(--color-background);
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.4);

    border: 5px solid var(--color-primary-dark);
  }

  &__list_item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
