@import '../../styles/mixins';

.notification {
  font-size: var(--default-font-size);
  font-weight: 600;
  height: 8rem;
  width: 50%;
  border-radius: 2px;
  transition: all 0.2s ease-out;

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    width: 70%;
  }
  @include respond(phone) {
    width: 100%;
    height: 10rem;
    border-radius: 0;
  }

  &__text {
    margin: 1rem 5rem 1rem 3rem;
  }

  &__success {
    background-color: rgb(93, 201, 93);
  }

  &__error {
    background-color: rgb(231, 69, 69);
    color: var(--color-background);
  }

  &__cross {
    font-size: 1.4rem;
    color: var(--color-white);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-left: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba($color: #fff, $alpha: 0.2);
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
    background-color: var(--color-black);

    &:active {
      background-color: rgba($color: #fff, $alpha: 0.6);
    }
  }
}
