.icons {
  display: flex;
  list-style: none;
}

.icon_list_item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.icon_link {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  padding: 1.5rem;

  position: relative;
}

.icon {
  height: 2.5rem;
  width: 2.5rem;

  &__dark {
    fill: var(--color-grey-dark);
  }

  &__light {
    fill: var(--color-background);
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
