.card {
  border-radius: 5px;

  &__content {
    padding: 0 3rem 4rem 3rem;
  }

  &__link_container {
    display: flex;
    justify-content: center;
  }

  &__dark {
    background-color: var(--color-primary-light);
    color: var(--color-background);
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.4);
    border: 5px solid var(--color-primary-dark);
  }

  &__light {
    background-color: var(--color-background-2);
    color: var(--color-primary);
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.15);
    border: 5px solid var(--color-primary-light);
  }
}
