.header {
  background-color: var(--color-primary);
  color: var(--color-white);

  &__content {
    padding: 3rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-white);
    border-bottom: 2px solid var(--color-white);
    text-transform: uppercase;
  }

  &__nav_list {
    display: flex;
  }
}
