.header {
  background-color: var(--color-primary);
  color: var(--color-white);

  &__content {
    padding: 3rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav_list {
    display: flex;
  }
}
