@import '../../../styles/mixins';

.header {
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 9.5rem;

  &__content {
    padding: 3rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation {
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__nav_list {
    display: flex;
  }

  &__btn_container {
    display: none;

    @include respond(tab-port) {
      display: block;
      padding: 1rem;
      z-index: 5;
    }
  }

  &__btn_small_devices {
    display: none;

    @include respond(tab-port) {
      display: block;
      position: relative;

      &,
      &::before,
      &::after {
        display: inline-block;
        width: 35px;
        height: 3px;
        background-color: var(--color-background);
        border-radius: 50px;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.2s ease-out;
      }

      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }

      &__active {
        & {
          position: fixed;
          right: 30px;
          padding: 1rem;
          background-color: transparent;
        }
      }

      &__active {
        &::before {
          top: 0;
          transform: rotate(135deg); // 180deg - 45deg = 135deg
        }
      }

      &__active {
        &::after {
          top: 0;
          transform: rotate(-135deg); // 180deg - 45deg = 135deg
        }
      }
    }
  }
}
