@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

// universal selector will apply on every element, every element should have box-size property border-box that is inherited from body
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// root font-size is set in html selector
html {
  // 1rem == 10px (if browser-root is 16px)
  font-size: 62.5%; // (10/16 x 100) percentage of 10 from 16
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  background-color: var(--color-background);
}

.container {
  max-width: 100rem;
  padding: 0 2rem;
  margin: auto;
}

.container-small {
  max-width: 60rem;
  padding: 0 2rem;
  margin: auto;
}
