.btn {
  // for <button>
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  // we should always add this, if we add height, margin or padding
  display: inline-block;
  border-radius: 0.2rem;
  font-size: var(--default-font-size);

  // change for the <button> element
  border: none;
  cursor: pointer;

  transition: transform 0.2s ease-out;

  &:hover {
    transform: translateY(-3px);
    // x-axis, y-axis, blur, color
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    // always related to the initial link state
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  }

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-background);
    margin-right: 2rem;
    // this button looks a little bit small
    // so add the same border that the next one has
    border: 2px solid var(--color-primary);
  }

  &--secondary {
    background-color: var(--color-background);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);

    &__featured_projects {
      border: 2px solid var(--color-primary-light);
      background-color: var(--color-primary);
      color: var(--color-background);
    }
  }

  &--tertiary {
    background-color: var(--color-primary);
    color: var(--color-background);
    padding: 0.7rem 1.5rem;
  }

  &__arrow {
    display: inline-block;
    transform: translateY(-1px);
    transition: all 0.3s;
  }

  &:hover &__arrow {
    transform: translateY(-1px) translateX(0.5rem);
  }
}
