.heading-primary {
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-grey-dark);

  // temporary
  margin-bottom: 2rem;
}

.heading-secondary {
  font-size: 3rem;

  &--white {
    color: var(--color-background);
    display: inline-block;
    border-bottom: 2px solid var(--color-background);
  }

  &__underline {
    display: inline-block;
    border-bottom: 2px solid var(--color-grey-dark);
  }
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: var(--default-font-size);
  color: var(--color-grey-dark);

  &--card {
    font-size: 1.4rem;
    font-style: italic;

    &__light {
      color: var(--color-background);
    }

    &__dark {
      color: var(--color-grey-dark);
    }
  }

  &--clear {
    color: var(--color-black);
    font-size: 2rem;
  }
}
