.heading-primary {
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-grey-dark);

  // temporary
  margin-bottom: 2rem;
}

.heading-secondary {
  font-size: 3rem;

  &--white {
    color: var(--color-background);
    &__underline {
      display: inline-block;
      border-bottom: 2px solid var(--color-background);
    }
  }
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;

  &--green {
    color: var(--color-primary);
  }
}

.paragraph {
  font-size: var(--default-font-size);
  color: var(--color-grey-dark);

  &--card {
    font-size: 1.4rem;
    font-style: italic;
  }
}
