// COLORS
:root {
  --color-primary: #00945e;
  --color-grey-dark: rgb(34, 34, 34);
  --color-background: rgb(246, 244, 255);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --default-font-size: 1.6rem;
}
