// COLORS
:root {
  --color-primary: #283045;
  --color-primary-light: #3e455a;
  --color-primary-very-light: #4f576e;
  --color-primary-dark: #30384e;

  --color-admin: rgb(40, 153, 40);
  --color-admin-light: rgb(52, 170, 52);
  --color-admin-dark: rgb(30, 119, 30);

  --color-grey-dark: rgb(34, 34, 34);
  --color-background: rgb(246, 244, 255);
  --color-background-2: rgb(228, 227, 233);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --default-font-size: 1.6rem;
  --color-danger: rgb(226, 48, 48);
}
